/* stylelint-disable no-missing-end-of-source-newline */
/* stylelint-disable font-weight-notation */
/* stylelint-disable order/properties-alphabetical-order */
/* stylelint-disable indentation */
/* stylelint-disable linebreaks */
/* Adicione esta classe para centralizar o conteúdo do cartão */
.planet-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Estilize o nome do planeta (opcional) */
.planet-name {
    font-size: 18px;
    font-weight: bold;
}

.solar-system {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}



